<p id="notice"><%= notice %></p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<%= link_to 'Back', users_path %>
<ul>
  <li><h2>Hosted</h2></li>
  <ol>
    <% @user.my_events.each do |event| %>
      <li><%= event.description %> on <%= event.updated_at.to_s(:short) %></li>
    <% end %>
  </ol>
  <li><h2>Participated</h2></li>
  <ul>

    <li>
      <h2>Upcoming</h2>
      <ol>
        <% @upcoming_events.each do |event| %>
        <li> 
          <%= event[2] %>
          <b> Location: </b> <%= event[1] %>  
          <b> Hosted by:</b> <%= event[0] %>
          <b> Date: </b> <%= event[3] %> 
        </li>
        <% end %>
      </ol>
    </li>
    <li>
      <h2>Past</h2>
      <ol>
        <% @previously_attended_events.each do |event| %>
        <li> 
          <%= event[2] %>
          <b> Location: </b> <%= event[1] %>  
          <b> Hosted by:</b> <%= event[0] %>
          <b> Date: </b> <%= event[3] %> 
        </li>
        <% end %>
      </ol>
    </li>
  </ul>
</ul>







