<p id="notice"><%= notice %></p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<%= link_to 'Back', users_path %>
<ul>
  <li><h2>Hosted</h2></li>
  <ol>
    <%= list_events(@user.my_events) %>
  </ol>
  <li><h2>Participated</h2></li>
  <ul>

    <li>
      <h2>Upcoming</h2>
      <%= list_array_event(@upcoming_events) %>
    </li>
    <li>
      <h2>Past</h2>
      <%= list_array_event(@previously_attended_events) %>
    </li>
  </ul>
</ul>







