<%= form_with(model: @event, local: true) do |form| %>
  <% error_view @event.errors %>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.date_select :event_date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :attendee %>
    <%= form.select(:attendee, @user_options,
        { :prompt => "Please select"},
        { :multiple => true, :size => 5 }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
