<h1>Events</h1>
<h2>My Past Events</h2>
<%= list_events(@my_past) %>

<h2>My Upcoming Events</h2>
<%= list_events(@my_upcoming) %>
<br/>

<h2>Future</h2>
<%= list_events(@future_events) %>

<h2>Past Events</h2>
<%= list_events(@past_events) %>
<br>

<%= link_to 'New Event', new_event_path %>
