<!DOCTYPE html>
<html>
<head>
  <title>PrivateEvents</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<%= authorized_links! %>

<%= conditional_view(flash[:alert], cls: 'alert flash') %>

<%= conditional_view(flash[:notice], cls: 'info flash') %>

<%= yield %>
</body>
</html>
